@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 97%; /* #F4F4F2 */
    --foreground: 210 39% 13%; /* #182433 */
    --card: 40 33% 97%;
    --card-foreground: 210 39% 13%;
    --popover: 40 33% 97%;
    --popover-foreground: 210 39% 13%;
    --primary: 95 15% 69%; /* #ACBFA4 */
    --primary-foreground: 210 39% 13%;
    --secondary: 35 24% 75%; /* #D3BFA8 */
    --secondary-foreground: 210 39% 13%;
    --muted: 95 15% 85%;
    --muted-foreground: 210 39% 40%;
    --accent: 35 24% 80%;
    --accent-foreground: 210 39% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 95 15% 80%;
    --input: 95 15% 85%;
    --ring: 95 15% 69%;
    --chart-1: 95 15% 69%;
    --chart-2: 35 24% 75%;
    --chart-3: 95 15% 50%;
    --chart-4: 35 24% 60%;
    --chart-5: 210 39% 13%;

    /* Sidebar Variables */
    --sidebar-background: 210 39% 13%; /* #182433 */
    --sidebar-foreground: 40 33% 85%;
    --sidebar-primary: 95 15% 69%;
    --sidebar-primary-foreground: 210 39% 10%;
    --sidebar-accent: 210 39% 20%;
    --sidebar-accent-foreground: 40 33% 97%;
    --sidebar-border: 210 39% 20%;
    --sidebar-ring: 95 15% 69%;
  }

 .dark {
    --background: 210 39% 15%; /* #182433 */
    --foreground: 40 33% 97%; /* #F4F4F2 */
    --card: 210 39% 18%;
    --card-foreground: 40 33% 97%;
    --popover: 210 39% 18%;
    --popover-foreground: 40 33% 97%;
    --primary: 95 15% 69%; /* #ACBFA4 */
    --primary-foreground: 210 39% 13%;
    --secondary: 35 24% 75%; /* #D3BFA8 */
    --secondary-foreground: 210 39% 13%;
    --muted: 210 39% 25%;
    --muted-foreground: 40 33% 80%;
    --accent: 35 24% 65%;
    --accent-foreground: 210 39% 13%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 39% 25%;
    --input: 210 39% 25%;
    --ring: 95 15% 69%;
    --chart-1: 95 15% 69%;
    --chart-2: 35 24% 75%;
    --chart-3: 95 15% 50%;
    --chart-4: 35 24% 60%;
    --chart-5: 40 33% 80%;

    /* Sidebar Variables */
    --sidebar-background: 210 39% 13%;
    --sidebar-foreground: 40 33% 85%;
    --sidebar-primary: 95 15% 69%;
    --sidebar-primary-foreground: 210 39% 5%;
    --sidebar-accent: 210 39% 20%;
    --sidebar-accent-foreground: 40 33% 97%;
    --sidebar-border: 210 39% 15%;
    --sidebar-ring: 95 15% 69%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
